
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 56px 120px 56px;

  gap: 100px;
  

}

.container-products:nth-child(2n + 2){
}

.div-cards-products{
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}

.div-cards-products:nth-child(2n + 2){
  flex-direction: row;
}


.description-p{
  font-family: sans-serif;
  text-align: start;
  font-weight: normal;
  font-size: 20px;
}

.div-cards-products h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: start;
  width: fit-content;
  width: 45%;

}

.title-h3{
  font-family: sans-serif;
  text-align: end;
  font-size: 30px;
  text-shadow: -3px 4px #0a330e;
  background-color: #16291792;
  padding: 8px 0 20px 20px;

  width: 260px;
  height: 34px;
}

.imgproduct{
  width: 100%;
}