#root{
    background-color: #36613B;
    font-family: 'Inter', sans-serif;
}

.formCard{
    color: black;
    margin-left: 280px;
    margin-top: 60px;
    margin-bottom: 200px;
    padding: 20px;
    height: 760px;
}

.cardTop{
    /* margin-top: 20px; */
    height: 100%;
    width: 1000px;
    /* margin-top: 20px; */
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.titlePage{
    font-size: 60px;
    margin-top: -55px;
    margin-left: 50px;
    text-shadow: -3px 4px #0A330E;
}

.divTitle{
    background-color: #16291792;
    width: 520px;
    height: 70px;
    margin-top: 50px;
    margin-left: 36px;
}

.btnForm{
    text-decoration: none;
    margin-top: 20px;
    width: 400px;
    height: 40px;
    background-color: #36613B; 
    font-family: 'Inter', sans-serif;
    border: none;
    color: #fff;
    cursor: pointer;
}

.text{
    width: 1289px;
    margin: auto;
    padding: 20px;
    padding-top: 70px;
    font-size: 24px;
}

.labelStyle{
    font-weight: bold;
}

input {
    width: 400px;
    border-radius: 5px;
    border: none;
    outline-color: #36613b62;
    background-color: #ffffffc0;
}