#root{
    background-color: #36613B;
    color: white;
}

.titlePage{
    margin-left: 250px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 60px;
    text-shadow: -3px 4px #0A330E;
}

.divTitle{
    background-color: #1629174f;
    width: 550px;
    height: 90px;
}

.imgHands{
    /* height: 300px;
    width: 600px; */
}

.awards{
    display: flex;
    align-items: center;
    margin-left: 450px;
}

.awardsImg{
    border-radius: 10px;
    height: 150px;
    width: 250px;
}

.figureTop{
    margin-top: 130px;
}

.infoCard{
    padding: 50px;
}