#root{
    background-color: #36613B;
    color: white;
}

.titlePagep{
    font-size: 60px;
    margin-top: -55px;
    margin-left: 50px;
    text-shadow: -3px 4px #0A330E;
}

.divTitlep{
    background-color: #16291792;
    width: 350px;
    height: 70px;
    margin-top: 50px;
    margin-left: 36px;
}

.ingredientes{
    margin-left: 70px;
    background-color: #16291792;
    width: 1400px;
}

.awards{
    display: flex;
    align-items: center;
    margin-left: 150px;
    gap: 180px;
    padding: 50px;
}

.awardsImg{
    border-radius: 2px;
}

.plantando{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.infoCard1{
    margin-top: 60px;
    padding: 20px;
    margin-left: 90px;
    font-size: 20px;
    width: 1300px;
    font-size: 24px;
}

.infoCard2{
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 20px;
    margin-left: 90px;
    font-size: 20px;
    width: 1300px;
    font-size: 24px;
}

.infoCard3{
    margin-top: 80px;
    padding: 10px;
    margin-left: 90px;
    margin-bottom: 90px;
    font-size: 20px;
    width: 1300px;
    font-size: 24px;
}

.divShadow{
    background-color: #16291792;
    width: 1450px;
    margin-top: 50px;
    margin-left: 36px;
}

.shadowAwards{
    background-color: #16291792;
    width: 490px;
}

.shadowIngredientes{
    background-color: #16291792;
    width: 1390px;
}