.footer{
    width: 100%;
    height: 150px;
    background-color: #D8E4D9;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: black;

    padding: 0 54px;
  }
  
  .contactIcons{
    width: 72px;
    height: 72px;

  }
  
  .socialAddress{
    font-size: 16px;
    text-align: center;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .socialAddress2{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .center{
    display: flex;
    flex-direction: column-reverse;

  }
  
  .slogan{
    width: 170px;
    height: 35px;
    font-size: 16px;
    text-align: center;
  }

  figure{
    display: flex;
    align-items: center;
    grid-area: 10px;

  }