#root{
    background-color: #36613B;
    font-family: 'Inter', sans-serif;
}

/* .gif{
    margin-left: 440px;
    height: 100px;
    padding: 190px;
} */

.figure{
    height: 500px;
}

.gif{
    width: 300px;
    margin-left: 650px;
}