* {
  margin: 0;
  padding: 0;
}

@media (max-width: 806px) {
  .nav{
    flex-direction: row-reverse;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paths {
    display: none;
  }

  .bm-burger-button{
  display: block;
}

  .contatoIcons {
    width: 47px;
    height: 47px;
  }

  .slogan,
  .mediaSocial {
    font-size: 14px;
  }

  .figure-img-home {
    height: 360px;
  }

  .container-title-h1 {
    height: 300px;
  }

  .div-cards-products {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .img-parceiro{
  width: 100%;
}
}

@media (max-width: 540px) {
  .container {
    padding:20px;
  }

  .card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .container-title-h1 {
    height: 200px;
  }
  .figure-img-home {
    height: 260px;
  }

  .div-cards-products h2{
    width: fit-content;
  }


}
